#bacon{
  color: brown;
  font-family: 'Vidaloka', serif;
}

.btn {
  background-color: rgba(255, 77, 40, 0.9);
  color: #fff;
}

h3 {
  font-family: 'Cinzel', serif;
}
h1{
  font-family: 'Vidaloka', serif;
}
